*.bat
*.jar
*.pro
*.dll
mobile-development/App1/App1/App1.Android/obj/
*.pdb
mobile-development/App1/App1/App1/App1.shproj
mobile-development/App1/App1/App1/App1.projitems
mobile-development/App1/.vs/App1/
mobile-development/App1/App1/App1.Android/bin/
mobile-development/App1/App1/App1.Android/Resources/mipmap-xhdpi/
mobile-development/App1/App1.sln
mobile-development/App1/App1/App1.Android/App1.Android.csproj.user
mobile-development/App1/App1/App1.Android/App1.Android.csproj
mobile-development/App1/App1/App1.Android/Resources/mipmap-mdpi
mobile-development/App1/App1/App1.Android/Resources/mipmap-xxhdpi
mobile-development/App1/App1/App1.Android/Resources/mipmap-xxxhdpi
mobile-development/App1/App1/App1.Android/Resources/mipmap-hdpi
mobile-development/App1/App1/App1.Android/Resources/drawable-xhdpi
mobile-development/App1/App1/App1.Android/Resources/drawable-xxhdpi/icon.png
mobile-development/App1/App1/App1.Android/Resources/drawable-hdpi/icon.png